@model List<Vidly.Models.Customer>
<h2>Index</h2>
@{
    ViewBag.Title = "Index";
}
<table id="customers" class="table table-bordered table-hover">
 <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
        
    </tr>
 </thead>

</table>
@section scripts
{
    <script>
        $(document).ready(function ()
        {
            var table = $("#customers").DataTable(
                {
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href = 'customers/edit/" + customer.Id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data:"membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-customer-id=" + data  +">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click",".js-delete", function () {
                var $button = $(this);
                
                if (confirm("Are you sure?"))
                {
                    $.ajax
                        ({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row($button.parents("tr")).remove().draw();   
                           
                        },
                        error: function (status) {
                            console.log(status);
                        }
                    });
                };
            });
        });
    </script>
        
}

