@model List<Vidly.Models.Movies>
<h2>Index</h2>
@{
    ViewBag.Title = "Index";
}
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre Type</th>
            <th>Delete</th>

        </tr>
    </thead>

</table>
@section scripts
{
    <script>
        $(document).ready(function ()
        {
            var table = $("#movies").DataTable(
                {
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a href = 'movies/edit/" + movies.Id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data:"genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-movies-id=" + data  +">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click",".js-delete", function () {
                var $button = $(this);

                if (confirm("Are you sure?"))
                {
                    $.ajax
                        ({
                        url: "/api/movies/" + $(this).attr("data-movies-id"),
                        method: "DELETE",
                        success: function () {
                            table.row($button.parents("tr")).remove().draw();

                        },
                        error: function (status) {
                            console.log(status);
                        }
                    });
                };
            });
        });
    </script>

}

